<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="css/simple.css">
    <link rel="shortcut icon" href="http://wiki.self-app.net/images/self.png" type="image/png" />
    <title>[% title %]</title>
  </head>
  <body>
    <h1>[% title %]</h1>
    [% FOREACH section IN sections %]
    <h2>[% section.heading %]</h2>
    [% FOREACH paragraph IN section.paragraphs %]
    <p>
      [% paragraph %]
    </p>
    [% END %]
    [% END %]
  </body>
</html>
